[submodule "tagged-dom"]
	path = tagged-dom
	url = https://github.com/cedeber/tagged-dom.git
[submodule "devtools-taggr"]
	path = devtools-taggr
	url = https://github.com/cedeber/devtools-taggr.git
[submodule "vertical-state"]
	path = vertical-state
	url = https://github.com/cedeber/vertical-state.git
[submodule "service-worker"]
	path = service-worker
	url = https://github.com/cedeber/service-worker.git
[submodule "lorem-ipsum"]
	path = lorem-ipsum
	url = https://cedeber@github.com/cedeber/lorem-ipsum.git
[submodule "event-emitter"]
	path = event-emitter
	url = https://github.com/cedeber/event-emitter.git
[submodule "cascade-scroller"]
	path = cascade-scroller
	url = https://cedeber@github.com/cedeber/cascade-scroller.git
[submodule "fork-me"]
	path = fork-me
	url = https://github.com/cedeber/fork-me.git
[submodule "brightness-worker"]
	path = brightness-worker
	url = https://cedeber@github.com/cedeber/brightness-worker.git
[submodule "scroll-into-viewport"]
	path = scroll-into-viewport
	url = https://github.com/cedeber/scroll-into-viewport.git
[submodule "sticky-slot"]
	path = sticky-slot
	url = https://github.com/cedeber/sticky-slot.git
[submodule "hash-router"]
	path = hash-router
	url = https://github.com/cedeber/hash-router.git
[submodule "tiny-helpers"]
	path = tiny-helpers
	url = https://github.com/cedeber/tiny-helpers.git
[submodule "page-snap"]
	path = page-snap
	url = https://github.com/cedeber/page-snap.git
